*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url('francesco-ungaro-p5scPbK7zeU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: rgba(117, 116, 116, 0.168);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: 50px;
    width: 100%;
    display: flex;
}

nav ul{
    font-size: 1.3rem;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav a:hover{
    background-color: #807d7d;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff2e;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(43, 42, 42, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.side{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

    .side{
        display: flex;
    }
}